*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url("../images/signin.png");
    background-color: lightgray 50%;
    background-size: cover;
}

.sign-countainer{
    border: solid black;
}

.side{
    display: flex;
}